<template>
  <v-app id="inspire">
    <v-main>
      <v-container>
        <v-row align="center" justify="center"> 
          <h1 class=" progress">{{ formattedProgress }}</h1>
        </v-row>
        <v-row class="bottom vcontent">
          <v-col>
            <v-row align="center" justify="center">
              <v-card height="auto" flat tile>
                <img
                  src="~/static/bkp.png"
                  alt="Space by Jeremy Thomas on Unsplash"
                  style="max-width: 100%"
                  sizes="xl:100vw lg:100vw md:100vw sm:100vw xs:100vw"
                />
              </v-card>
            </v-row>

            <v-row align="center" justify="center">
              <v-card height="auto" flat tile>
                <div class="subtitle-1">Andrea Fiore Portfile</div>
              </v-card>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  data() {
    return{
      loadingProgress: 0,
      loadingInterval: null
    }
  },
  computed: {
    formattedProgress() {
      return this.loadingProgress > 100 ? 100 : this.loadingProgress
    }
  },
  mounted() {
    animateCSS(".vcontent", "fadeInUp").then((message) => {
        console.log(message);        
      })
    this.startLoading()
    //setTimeout(this.startLoading, 700)
  },
  methods: {
    
    startLoading() {

      clearInterval(this.loadingInterval);
      this.loadingProgress = 0;
      this.loadingInterval = setInterval(this.loading, 50);
    },
    loading() {
      const progressDelta = 1;
      this.loadingProgress += progressDelta;

      if (this.loadingProgress === 110) {
        clearInterval(this.loadingInterval);
        //this.$router.push({ path: "portfolio" })
      }
    },
  },
  computed: {
    formattedProgress() {
      return this.loadingProgress > 100 ? 100 : this.loadingProgress;
    },
  },
};

const animateCSS = (element, animation, prefix = "animate__") =>
  // We create a Promise and return it
  new Promise((resolve, reject) => {
    const animationName = `${prefix}${animation}`;
    const node = document.querySelector(element);

    node.classList.add(`${prefix}animated`, animationName);

    // When the animation ends, we clean the classes and resolve the Promise
    function handleAnimationEnd(event) {
      event.stopPropagation();
      resolve("Animation ended");
      node.classList.add(
        "animate__animated",
        "animate__fadeOutUp",
        "animate__delay-2s"
      );
    }

    node.addEventListener("animationend", handleAnimationEnd, { once: true });
  });
</script>

<style>
.bottom {
  position: absolute;
  bottom: 35%;
  left: 0;
  right: 0;
  padding: 15;
}
</style>
